<div class="title">Announcements</div>

<div class="content">
    <ul>
        <li>Custom Ember A2D Tomster?
            <ul>

                <li>Classic Tomster with Simple Shirt Change : $80</li>
                <li>Classic Tomster with 1 Prop or Full Costume : $130</li>
                <li>Tomster in Pose : $180</li>
                <li>Tomster with 1 Prop and Full Costume : $200</li>
                <li>Tomster with additional background elements, similar to EmberCamp 2013 : $300</li>
            </ul>
        </li>
        <li>Ember Hack Days?
            <ul>

                <li>Less formalized</li>
                <li>Hang out, hack on code together</li>
                <li>Build addons, contribute to core, personal projects, etc.</li>
            </ul>
        </li>
    </ul>
</div>