<div class="title">Intros</div>

<div class="content">
    <img class="center" src="http://fc06.deviantart.net/fs71/f/2013/240/5/5/all_your_base_by_davidrapozaart-d6k33sn.gif" width="600px">
    <ul>
        <li>Who are you?</li>
        <li>How did you get involved with Ember?</li>
        <li>When you're not developing you're ...</li>
    </ul>
</div>