<div class="title">Our Wonderful Sponsors</div>

<div class="content">

    <div class="center">
        <img class="center" src="http://b.vimeocdn.com/ps/160/035/1600350_300.jpg">
    </div>
    <div class="center">
        <img src="http://digitalrootscrm.net/wp-content/uploads/2014/06/dr_logo1-1024x292.png" width="600px">
    </div>
    <div></div>
</div>