<div class="title">Tentative Outline</div>
<div class="content">
    <ul>
        <li>What is Ember CLI?</li>
        <li>Why should we use Ember CLI?</li>
        <li>Practical Ember CLI</li>
        <li>Make an app!</li>
        <li>Diving into an addon</li>
    </ul>
</div>