<div class="title">What is Ember CLI?</div>
<div class="subtitle">History</div>
<div class="content">
    <ul>
        <li>Before Ember CLI
            <ul>
                <li>Single page apps (early documentation)</li>
                <li>Custom Grunt/Gulp build</li>
                <li>Yeoman</li>
                <li>Ember App Kit (EAK)</li>
            </ul>
        </li>
        <li>
            Y U No best practice?
            <ul>
                <li>Ember CLI</li>
            </ul>
        </li>
    </ul>
    <div class="center"><img src="http://img1.wikia.nocookie.net/__cb20111009182628/mk_/images/6/62/Yuno.jpg"></div>
</div>