<div class="title">Practical Ember CLI</div>
<div class="subtitle">Directory structure</div>
<div class="content">
    <pre>
        app/
            adapters/
            components/
            controllers/
            helpers/
            initializers/
            mixins/
            models/
            routes/
            serializers/
            transforms/
            utils/
            views/
        dist/
        public/
        tests/
        vendor/
        bower_components/
        node_modules/
        bower.json
        package.json
        ... several other files
            (.editorconfig, .ember-cli)
    </pre>
</div>