<div class="title">Diving into an addon</div>
<div class="subtitle">ember-slide-show</div>
<div class="content">
    <div class="center"><a target="_blank" href="https://github.com/tzellman/ember-slide-show">https://github.com/tzellman/ember-slide-show</a></div>
</div>