<div class="title">What is Ember CLI?</div>
<div class="content">
    <ul>
        <li>Create infrastructure for new apps</li>
        <li>Build/test/serve pipeline - batteries included
            <ul>
                <li>Broccoli</li>
                <li>QUnit</li>
                <li>Express mock server(s)</li>
                <li>Babel (es6 transpiler - highest coverage on kangax)</li>
                <li>Asset compilation (Sass, Less, etc.)</li>
                <li>Configurable - dev/test/prod environments</li>
            </ul>
        </li>
        <li>Build infrastructure - Generators
            <ul>
                <li>Much like Yeoman generators</li>
                <li>Quick scaffolding / less typing</li>
            </ul>
        </li>
        <li>Addons
            <ul>
                <li>Import external ember modules</li>
                <li>Include addons directly in your app</li>
                <li>Transitive dependencies</li>
                <li>Create blueprints</li>
            </ul>
        </li>
    </ul>
</div>