<div class="title">Why Ember CLI?</div>
<div class="content">
    <ul>
        <li>It's "the standard"
            <ul>
                <li>EAK is deprecated</li>
                <li>Active core+plugin/addon development</li>
                <li>Ember docs will be updated soon to reflect Ember CLI</li>
            </ul>
        </li>
        <li>It's fast
            <ul>
                <li>Broccoli rebuilds only what changed</li>
            </ul>
        </li>
        <li>It makes you faster
            <ul>
                <li>Develop your app and not infrastructure</li>
                <li>Generators do the dirty work</li>
            </ul>
        </li>
        <li>It scales
            <ul>
                <li>Rewire fixtures->REST adapter</li>
                <li>Drop out mock servers when ready</li>
                <li>Create addons for reusability</li>
                <li>Build different trees if necessary (desktop, mobile)</li>
                <li>Ember Engines</li>
            </ul>
        </li>
    </ul>
</div>