<div class="title">Let's make an app!</div>
<div class="subtitle">Slidr</div>
<div class="content">
    <ul>
        <li>Simple slide-show application</li>
        <li>One Handlebars template per slide</li>
        <li>Because... this is more fun than PowerPoint/KeyNote
            <ul><li>Or the only choice for us Linux users</li></ul>
        </li>
        <li>What this presentation was built on</li>
    </ul>
    <div class="center">
        <img src="http://lahosken.san-francisco.ca.us/importable/zombocom.gif">
        <div>The only limit is yourself</div>
    </div>
</div>