<div class="title">Announcements</div>

<div class="content">
    <ul>
        <li>Next Meeting
            <ul>
                <li>Some time mid/end April</li>
                <li>Poll for time/date or keep Thursdays?</li>
                <li>Submit topic ideas</li>
            </ul>
        </li>
        <li>Cadence
            <ul>
                <li>Once a month?</li>
            </ul>
        </li>
        <li>Topic ideas
            <ul>
                <li>es6 and Ember</li>
                <li>How Broccoli works</li>
                <li>Workshops - build an app</li>
                <li>Show & Tell</li>
                <li>Using D3.js with Ember</li>
            </ul>
        </li>
        <li>Do you want to speak?
            <ul>
                <li>Contact me</li>
            </ul>
        </li>
    </ul>
</div>