<div class="title">Future Meetings</div>

<div class="content">
    <ul>
        <li>Next meeting
            <ul>
                <li>Tentatively Wednesday May 20th</li>
                <li>Tom Brandt to discuss Authentication</li>
                <li>Likely hosted at Workantile</li>
            </ul>
        </li>
        <li>Do you want to speak?
            <ul>
                <li>Contact me</li>
            </ul>
        </li>
        <li>Topic ideas
            <ul>
                <li>es6 and Ember</li>
                <li>How Broccoli works</li>
                <li>Workshops - build an app</li>
                <li>Show & Tell</li>
                <li>Using D3.js with Ember</li>
            </ul>
        </li>
    </ul>
</div>