<div class="title">Upcoming Events</div>

<div class="content">
    <ul>
        <li>SEM.js
            <ul>
                <li>Lightning Talks!</li>
                <li>Monday May 11th @6</li>
                <li>I will be presenting Ember CLI</li>
                <li>Ian VanSchooten is presenting eslint</li>
            </ul>
        </li>
        <li>Ann Arbor/Detroit NLPers
            <ul>
                <li>Text Analytics for Automotive Services</li>
                <li>Thursday April 23rd @4:30PM</li>
            </ul>
        </li>
    </ul>
</div>