<div class="title">Upcoming Events</div>

<div class="content">
    <ul>
        <li>SEM.js
            <ul>
                <li>Seeing Through the Matrix of JavaScript MV* Frameworks</li>
                <li>Monday April 13th @6</li>
                <li><a href="http://www.meetup.com/SEM-JS/">www.meetup.com/SEM-JS/</a></li>
            </ul>
        </li>
        <li>Ann Arbor/Detroit NLPers
            <ul>
                <li>Professor Steven Abney on Brown Clustering in the Context of Dependency Parsers</li>
                <li>Friday March 27th @4:30PM</li>
                <a href="http://www.meetup.com/Ann-Arbor-Detroit-NLPers-A2D-NLP/">www.meetup.com/Ann-Arbor-Detroit-NLPers-A2D-NLP/</a>
            </ul>
        </li>
    </ul>
</div>