<div class="title">Welcome to Ember.js A2D!</div>
<div class="subtitle">March 19, 2015</div>

<div class="content">
    <div class="center">
        <img src="http://www.gravatar.com/avatar/0cf15665a9146ba852bf042b0652780a?s=400">

        <div>Wifi: atomic-annarbor-public</div>
    </div>
</div>