<div class="title">Who We Are</div>

<div class="content">
    <ul>
        <li>Shout-outs
            <ul>
                <li>Thank you for being here!
                    <ul>
                        <li>70+ Members! (spread the word)</li>
                    </ul>
                </li>
                <li>Thanks to SEM.js for the plug!</li>
            </ul>
        </li>
        <li>Reboot
            <ul>
                <li>Changed name/location to better match interest</li>
                <li>More traction now with Ember community than last year</li>
            </ul>
        </li>
        <li>Focus
            <ul>
                <li>Ann Arbor</li>
                <li>Anything tangentially related to Ember</li>
                <li>Geeking out on what we love</li>
                <li>Have fun!</li>
            </ul>
        </li>
        <li>Community driven
            <ul>
                <li>Contact me if you want to get involved: <a href="mailto:tz@umich.edu">tz@umich.edu</a></li>
            </ul>
        </li>
    </ul>
</div>